/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #04AA6D;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #04AA6D;
    color: black;
    text-decoration:none !important;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }

  .one_home{

            background-image: url("https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3VzdGFpbmFibGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
           background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
            
  }

  .heading{
    font-size:90px;
    font-family: 'Palette Mosaic', cursive;
    color:white;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    word-spacing: 2px;
}

.subheading{
    font-size:45px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color:white;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    word-spacing: 2px;
}

.green-button{
    color:green;
    background-color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 5px;
    font-size: 20px;
    border-radius: 25em;
    border-color: green;
    border-style: solid;
    padding: .8em 2em;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);

   }


.green-button:hover{
    transform:scale(1.02);
    color:white;
    background-color: lightgreen;
    border-color:green;

}

.about-section{

}



.common-text{

    font-size:19px;
    color:black;
    text-align: justify;
    align-items: center;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bolder;
    padding-left:15px;
    padding-right:15px;
}



.common-image{
    border-radius: 0%;
    width:100%;
    height:120%;
    align-items: center;
    text-align: center;
}

.common-heading{
    font-size:50px;
    color:#166916;
    text-align: center;
    align-items: center;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bolder;
    padding-left:15px;
    padding-right:15px;
    }


.quote{
    background-image: url("quote.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);

}

@media (max-width:576px) {
    .quote{
    display:none;
  }

  .heading{
      font-size: 45px;
  }
}

.bg{
    
}

.footer{
    background: #152F4F;
    color:white;
    
    .links{
      ul {list-style-type: none;}
      li a{
        color: white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color:#4180CB;
          }
      }
    }  
    .about-company{
      i{font-size: 25px;}
      a{
        color:white;
        transition: color .2s;
        &:hover{color:#4180CB}
      }
    } 
    .location{
      i{font-size: 18px;}
    }
    
  }
